<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" thread-count="5" verbose="5">
  <listeners>
  	<listener class-name="com.api.listners.ApiListner"></listener>
  </listeners>
    
  <test thread-count="5" name="Test">
   <groups>
  	<run>
  		<include name="paypal"></include>
  		<include name="stripe"></include>
  	</run>
  </groups>
    <classes>
   	   <class name="test.stripe.api.FlowTest"/>
       <class name="test.payapl.api.GetOrderDetails"/>
       <class name="test.payapl.api.CreateOrderTest"/>
       <class name="test.payapl.api.CreateToken"/>
     </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
